# Python
.venv/
**/__pycache__/
*.db
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/instance/*.db
backend/.env
**/.env
backups/
*.dump
*.backup

# Node
frontend/node_modules/
frontend/dist/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
